page-welcome {
    #welcome{
        background: color($colors, primarymain);
        h1{
            font-size: 27px;
            margin-top: 50px;
        }
        .marginTop{
            margin-top:150px;
        }
    }

}
